<h1>
  {{title}}
</h1>
<div class="row container">
	<div class="col-sm-3" id="myTab">
		<ul class="nav nav-stacked nav-pills tabs-left">
		  <li *ngFor="let person of persons">
		    <a href="#{{person.id}}" data-toggle="tab">{{ person.firstName }} {{ person.lastName }}</a>
		  </li>
		</ul>
	</div>

	<div class="col-sm-9">
		<div class="tab-content" id="my-tab-content">
			<div *ngFor="let person of persons" id="{{person.id}}" class="tab-pane">
				<div class="img" id="imagenum{{person.id}}">
					<img src='/assets/{{person.picture}}'>
				</div>
				<div class="bio">
					<h3> {{ person.firstName }} {{ person.lastName }}</h3>
					<hr>
					
					<div [innerHTML]="person.bio | safeHtml"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>
</div>